body
{
  background-color:#f0f8ff;
}
img
{
  height:180px;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: #add8e6;
  border-width:5px;
  width:5%;
}
h3
{
  color:#4682b4;
}
